.btn:hover {
  color: rgb(49, 183, 69);
  background-color: white;
  border: 1px solid rgb(49, 183, 69);
  transition: 0.3s;
}
.form-control:hover {
  border: 1px solid rgb(49, 183, 69);
}

.form-control:focus {
  border: 1px solid rgb(49, 183, 69);
  outline: none;
  box-shadow: 0 0 5px rgb(49, 183, 69);
}
.drinksList {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transition: 0.3s;
    
}


.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.cart-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}
